html {
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Roboto' sans-serif;
    color: var(--Navy-blue-color);
    width: 100%;
    margin: auto;
    overflow-x: hidden;
    background-color: #fff;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.logo {
    font-family: 'Raleway', sans-serif; 
    display: block; 
    font-weight: 800; 
    text-decoration: none
}

:root {
    --Iris-color: #4D5AE5;
    --Ocean-color: #404BBF;
    --Navy-blue-color: #2E2F42;
    --white-color: #fff;
    --Slate-color: #434455;
    --cloud-color: #E7E9FC;
}

img {
    display: block;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    height: 72px;
    left: 0px;
    top: 0px;
    background: var(--white-color);
    border-bottom: 1px solid var(--cloud-color);
}

.header-pages {
    display: flex;
    flex-direction: row;
}

.ul_row {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 40px;
}

.contact-info {
    margin-right: 156px;
}

.header-hover {
    text-decoration: none;
    color: var(--Navy-blue-color);
    transition: 0.5s;
}

.header-hover:hover {
    color: var(--Ocean-color);
    border-bottom: 4px solid var(--Iris-color);
    padding-bottom: 20px
    ;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.buttons-list {
    display: flex;
    gap: 40px;
    list-style: none;
    justify-content: center;
    padding-bottom: 72px;
    padding-top: 96px;
}

.list-item-title {
    font-size: 20px;
    color: var(--Navy-blue-color);
    margin-bottom: 8px;
}

.list-item-desc {
    font-size: 16px;
    color: var(--Slate-color);
}

footer {
    background-color: var(--Navy-blue-color);
    padding: 100px 0;
}

.footer-desc {
    max-width: 264px;
    font-size: 16px; 
    color: var(--white-color);
}

.buttons-in-list {
    font-size: 16px;
    cursor: pointer;
    background-color: var(--cloud-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: none;
    padding: 12px 24px;
    transition: 0.5s;
}

.buttons-in-list:hover {
    background-color: var(--Ocean-color);
    color: var(--white-color);
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    column-gap: 48px;
    row-gap: 24px;
    justify-content: center;
}

.product-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 5%;
}

.product-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);  
}

.product-card-inside {
    padding: 31px 0 32px 16px;
}