body {
    font-family: 'Roboto';
    color: #2E2F42;
}

.header {
    font-size: 18px;
}

a {
    text-decoration: none;
    color:#2E2F42;
}

a:hover {
    color: #404BBF;
}

.button-list {
    display: inline;
}

.buttons-in-list {
    display: inline;
    font-size: 16px;
    cursor: pointer;
}

.list-item-title {
    font-size: 20px;
}

.list-item-desc {
    font-size: 16px;
}

footer {
    background-color: #2E2F42;
}

.buttons-in-list {
    background-color: #E7E9FC;
}

.buttons-in-list :active {
    background-color: #404BBF;
}