html {
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Roboto' sans-serif;
    color: #2E2F42;
    width: 100%;
    margin: auto;
    overflow-x: hidden;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    height: 72px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
}

.header-pages {
    display: flex;
    flex-direction: row;
}

.ul_row {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 40px;
}

.contact-info {
    margin-right: 156px;
}

.header-hover {
    text-decoration: none;
    color:#2E2F42;
    transition: 0.5s;
}

.header-hover:hover {
    color: #404BBF;
    border-bottom: 4px solid #4D5AE5;
    padding-bottom: 20px
    ;
}

main {
    display: flex;
    align-items: center;
        justify-content: center;
        flex-direction: column;
}
.buttons-list {
    display: flex;
    gap: 40px;
    list-style: none;
    justify-content: center;
    padding-bottom: 72px;
}

.list-item-title {
    font-size: 20px;
    color: #2E2F42;
    margin-bottom: 8px;
}

.list-item-desc {
    font-size: 16px;
    color: #434455;
}

footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-desc {
    max-width: 264px;
    font-size: 16px; 
    color: #fff;
}

.buttons-in-list {
    font-size: 16px;
    cursor: pointer;
    background-color: #E7E9FC;
    border-radius: 10px;
    padding: 12px 24px;
}

.buttons-in-list :active {
    background-color: #404BBF;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    column-gap: 48px;
    row-gap: 24px;
    justify-content: center;
}

.product-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 5%;
}

.product-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);  
}

.product-card-inside {
    padding: 31px 0 32px 16px;
}