html {
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Roboto' sans-serif;
    color: #2E2F42;
    width: 100%;
    margin: auto;
    overflow-x: hidden;
    background-color: #fff;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    height: 72px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
}


.header-pages {
    display: flex;
    flex-direction: row;
}

.ul_row {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 40px;
}

.contact-info {
    margin-right: 156px;
}

.header-hover {
    text-decoration: none;
    color:#2E2F42;
    transition: 0.5s;
}

.header-hover:hover {
    color: #404BBF;
    border-bottom: 4px solid #4D5AE5;
    padding-bottom: 20px;
}

.main-page-bg {
    box-sizing: border-box;
    left: 0px;
    top: 72px;
    background: #2E2F42;
}

.title {
    margin: 15% auto 0 auto;
    width: 495px;
    align-self: center;
    font-size: 56px;
    color: #fff;
    font-family: inherit;
    text-align: center;   
}

.order-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-family: inherit;
    margin: 0 auto;
    margin-bottom: 20%;
    padding: 16px 32px;
    gap: 10px;
    width: 169px;
    height: 56px;
    left: 636px;
    top: 428px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    color: #FFFFFF;
    transition: 0.5s;
}

.order-button:hover {
    background-color:#404BBF;
}
.list-item-title {
    font-size: 20px;
    font-weight: 500;
}

.list-item-desc {
    font-size: 16px;
}

footer {
    background-color: #2E2F42;
    padding: 100px 0;
    padding-left: 156px;
}

.footer-desc {
    max-width: 264px;
    font-size: 16px; 
    color: #fff;
}

.goals-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1158px;
    gap: 3%;
    padding: 0;
    margin: 0 auto;
    padding: 0 15px;
}

.members-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 24px;
    padding: 0;
    padding-bottom: 120px;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.desc-list {
    display: flex;
    list-style: none;
    gap: 3%;
    align-items: center;
    padding: 0;
    padding-bottom: 120px;
}

.section-flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cloud-bg {
    background-color: #E7E9FC;
}

.member-card {
    font-family: inherit;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    transition: 0.3s;
    margin-bottom: 5%;
}

.member-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.member-card-inside {
    text-align: center;
    padding: 32px 0;
}

.titles {
    margin: 72px;
}

.member-card-desc {
    margin-top: 8px; 
    color: #434455;
}